/* Header styling */
body {
    margin: 0;
}


header {

    background-color: #00459A;
}

.header-row-1 {
    display: flex;
}

.search {
    margin: 7ch;
    margin-left: 20%;
}

nav {
    color: White;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 200px;
    margin-top: 50px;

}

.nav_ul>li>a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav_ul {
    display: flex;
    list-style-type: none;
}

.nav_ul>li {
    margin-left: 12px;
    padding: 10px;
}

.drop-menu {
    position: relative;
    display: inline-block;
}

.drop-menu-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #ff914b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px #ff914b solid;

}

.drop-menu:hover .drop-menu-content {
    display: block;
}

.dropbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00459A;
    border: none;
    color: white;
    font-size: large;
}
.drop-menu-content>a{
    color:#fff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding: 10px;
    border: 11px #00459A;
}
.drop-menu-content a:hover {
    background-color: #fab387;
}
.search input{
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: none;
}
.search{
    display: flex;
}
.search img{
    border-radius: 0 25px 25px 0;
}
/* Header is done here */

/* Footer styling */
.social-icon-inline {
    padding: 5px;
    margin-left: 17px;
}
.social-icon-inline a{
    text-decoration: none;
}
/* row one end */
footer {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.links_block{
    display: flex;
    flex-direction: column;
    margin-left: 145px;
}

.ul-li>li>a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ul-li>li {
    list-style-type: none;
    margin: 0 0 20px 0 ;

}

.ul-li {
    text-align: start;
    padding-left: 0;
}



.links {
    display: flex;
    text-align: left;
}

.right {
    padding: 5px;
    text-align: center;
}

/* blogs card */
.card {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card>img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 10px 10px 5px 10px rgb(138, 138, 138);
    
}

.container {
    padding: 2px 16px 25px 16px;

}

.blog-card {
    margin: 40px;
}
.fullbtn{
    text-decoration: none;
    color:#fff;
    background-color: #00459A;
    padding: 10px;
    border-radius:5px 5px  ;
}
.fullbtn:hover{
    background-color: #0355ba;
}
.morebtn > a{
    text-decoration: none;
    color:#fff;
    background-color: #00459A;
    padding: 10px;
    border-radius:5px 5px  ;
}
.morebtn{
    text-align: right;
    margin: 10px 5px;
}
/* blog home end here */
/* Writting start here */
.row1{
    display: flex;
    min-width: 300px;
    margin: 50px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
    justify-content: space-evenly;
    text-align: left;
}
.clmn1{
    display: flex;
    flex-direction: column;
}
.clmn2{
    display: flex;
    flex-direction: column;
}
.clmn1 label{
    margin: 15px;
}
.inputs {
    margin: 5px;
    padding: 10px 100px ;
    font-size: large;
    
}
