<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<footer style="background-color: rgb(36, 36, 36);">
    <div>
        <!-- Social media icon -->
        <div class="social-icon-inline">
            <a href="">
                <img src="static/image/yellowball.png" height="25px">
            </a>
            <a href="">
                <img src="static/image/yellowball.png" height="25px">
            </a>
            <a href="">
                <img src="static/image/yellowball.png" height="25px">
            </a>
            <a href="">
                <img src="static/image/yellowball.png" height="25px">
            </a>
        </div>
    </div>
    <hr style="border:1px solid rgb(111, 110, 110,.4);">
    <div class="links">
        <!--Footer second row or middle row-->
        <div class="links_block">
            <!-- columns 1-->
            <h3>Know us</h3>
            <ul class="ul-li">
                <li ><a href="">About Us</a></li>
                <li ><a href="">Why Getupyouth</a></li>
                <li ><a href="">Our Vision</a></li>
                <li ><a href="">Founders</a></li>

            </ul>

        </div>
        <div class="links_block">
            <!-- columns 2 -->
            <h3>Special Links</h3>
            <ul class="ul-li">
                <li ><a href="">Monetize yourself</a></li>
                <li ><a href="">Help/FAQ</a></li>
                <li ><a href="">Contact us/Report</a></li>
                <li ><a href="">Sitemap</a></li>

            </ul>

        </div>
        <div class="links_block">
            <!-- columns 3-->
            <h3>Popular Catagories</h3>
            <ul class="ul-li">
                <li ><a href="">Politics</a></li>
                <li ><a href="">Entertainment</a></li>
                <li ><a href="">Business</a></li>
                <li ><a href="">Technology</a></li>

            </ul>

        </div> 
        <div class="links_block">
            <!-- columns 4 -->
            <h3>Our Policies</h3>
            <ul class="ul-li">
                <li ><a href="">Disclaimer</a></li>
                <li ><a href="">Privacy policy</a></li>
                <li ><a href="">Terms and conditions</a></li>
                <li ><a href="">other policies</a></li>

            </ul>

        </div>
    </div>
    <hr style="border:1px solid rgb(111, 110, 110,.4);">

    <div>
        <!-- rights reserving -->
        <div class="right">
            <span>{{current_year}}© Copyright</span>
        </div>
    </div>

</footer>